<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Students reports</title>
    <style>
        tr{
            border: 1px solid #000;
            background-color: #fff;
        }

        .text-center {
            text-align: center;
            padding: 5px;
            font-size: 12px;
        }

        th {
            font-weight: bold;
            font-size: 14px;
            padding: 5px 0;
        }
        .content {
            height: 40px;
            border: 3px solid blue;
        }
        
    </style>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center; font-size: 24px;">Users data reports: {{ today }} </h3>
                <p style="text-align: center; font-size: 16px;">At : {{ hour }}</p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>User name</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Last Joined</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <!-- <th scope="row"> {{ forloop.counter}} </th> -->
                        <td class="text-center"> {{ user.id }} </td>
                        <td class="text-center"> {{ user.username }} </td>
                        <td class="text-center"> {{ user.first_name }} </td>
                        <td class="text-center"> {{ user.email }} </td>
                        <td class="text-center"> {{ user.date_joined }} </td>
                    </tr>
                    {% endfor %}
                    <tr style="font-weight: bold;">
                        <th colspan="4">Total</th>
                        <th colspan="1"> {{users|length}}</th>
                        </th>
                    </tr>
                </tbody>
            </table>
            
        </div>
        
    </div>
    <div width="10%" class="content1">
        <img width="60f  " height="60" src="http://192.168.220.1:8000/media/images/IMG-20220311-WA0002.jpg" alt="" />
    </div>
    
</body>

</html>